body {
    background-color: rgb(23, 17, 49);
}

h2 {
    color: rgb(40, 169, 255);
}

h3 {
    color: rgb(255, 182, 56);
}

h5 {
    color: rgb(66, 221, 118);
}

li {
    color: rgb(255, 113, 53);
}

h6.no_tasks {
    color: rgb(255, 113, 53);
}

span.angles {
    color: rgb(255, 162, 0);
}

span.author {
    color: rgb(166, 153, 219);
}

span.describe {
    color: white;
}

span.done {
    color: lime;
}

span.todo {
    color: white;
}

span.progress {
    color: white;
}

span.expired {
    color: red;
}

button.groups_add {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 255, 0, 0.5);  /* Зелений фон з прозорістю */
    border-radius: 7px;
    border: 5px solid rgba(0, 255, 0, 0.5);  /* Прозора рамка без впливу на фон */
    position: absolute;
    top: 10px;
    right: 10px;
}

button.groups_delete {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 7px;
    border: 5px solid rgba(255, 0, 0, 0.5);  /* Прозора рамка без впливу на фон */
    position: absolute;
    top: 55px;
    right: 10px;
}

span.button_text_add {
    color: rgb(23, 17, 49);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.button_text_delete {
    color: rgb(23, 17, 49);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label.group_title {
    color: rgb(66, 221, 118);
}

label.group_describe {
    color: white;
}

input.group_title {
    background-color: rgb(23, 17, 49);
    border: none;
    border-bottom: 5px solid rgb(25, 0, 134);
    color: rgb(66, 221, 118);
}

textarea.group_describe {
    background-color: rgb(23, 17, 49);
    border: none;
    border-bottom: 5px solid rgb(25, 0, 134);
    color: white;
    line-height: 10px;
}